<p>Hello!</p>
<p>You have been granted a supervisor role ({{{ rights }}}) in VolgaCTF Qualifier.<br>
<a href="{{#secure}}https{{/secure}}{{^secure}}http{{/secure}}://{{{ domain }}}/supervisor/create?code={{{ code }}}">Click here to create your account.</a></p>
<p>Regards,<br>
VolgaCTF Qualifier team.</p>
