Hello!
You have been granted a supervisor role ({{{ rights }}}) in VolgaCTF Qualifier.

Please navigate to {{#secure}}https{{/secure}}{{^secure}}http{{/secure}}://{{{ domain }}}/supervisor/create?code={{{ code }}}  in your browser.

Regards,
VolgaCTF Qualifier team.
