Hello, {{{ name }}}!

We have received a request to reset your account password.
Please navigate to {{#secure}}https{{/secure}}{{^secure}}http{{/secure}}://{{{ domain }}}/team/reset-password?team={{{ team }}}&code={{{ code }}} in your browser.

If you ignore this message, your password will not be changed.

Regards,
VolgaCTF Qualifier team.
