<p>Hello, {{ name }}!</p>
<p>We got a request to reset your account's password.<br>
<a href="{{#secure}}https{{/secure}}{{^secure}}http{{/secure}}://{{{ domain }}}/reset-password?team={{{ team }}}&code={{{ code }}}">Click here to reset your password.</a></p>
<p>If you ignore this message, your password won't be changed.</p>
<p>Regards,<br>
Themis Quals team.</p>
