Hello, {{{ name }}}!

We got a request to reset your account's password.
Please navigate to https://{{{ domain }}}/reset-password?team={{{ team }}}&code={{{ code }}} in your browser.

If you ignore this message, your password won't be changed.

Regards,
Themis Quals team.
