Hello, {{{ name }}}!

Welcome to Themis Quals!

You must confirm your email address so as to take part in the competition.
Please navigate to {{#secure}}https{{/secure}}{{^secure}}http{{/secure}}://{{{ domain }}}/team/verify-email?team={{{ team }}}&code={{{ code }}} in your browser.

Regards,
Themis Quals team.
