Hello, {{{ name }}}!

Welcome to Themis Quals!

We just need to verify your email address.
Please navigate to {{#secure}}https{{/secure}}{{^secure}}http{{/secure}}://{{{ domain }}}/verify-email?team={{{ team }}}&code={{{ code }}} in your browser.

Regards,
Themis Quals team.
