<p>Hello, {{ name }}!</p>
<p>Welcome to Themis Quals!</p>
<p>You must confirm your email address so as to take part in the competition.<br>
<a href="{{#secure}}https{{/secure}}{{^secure}}http{{/secure}}://{{{ domain }}}/team/verify-email?team={{{ team }}}&code={{{ code }}}">Click here to confirm your email address.</a></p>
<p>Regards,<br>
Themis Quals team.</p>
