Hello, {{{ name }}}!

Welcome to VolgaCTF Qualifier!

You must confirm your email address so as to take part in the competition.
Please navigate to {{#secure}}https{{/secure}}{{^secure}}http{{/secure}}://{{{ domain }}}/team/verify-email?team={{{ team }}}&code={{{ code }}} in your browser.

Regards,
VolgaCTF Qualifier team.
